# Keil MDK 專案編譯產生的檔案與資料夾
*.hex
*.bin
*.axf
*.elf
*.o
*.sct
*.lst
*.map
*.dep
*.crf
*.tra
*.uvguix.username
*.bak
*.d
*.i
*.s
*.a
*.lib
*.obj
*.out

# Keil 專案自動生成的暫存資料夾
*.__i
*.build
*.dep
*.dir
*.o
*.p
*.d
*.axf
*.bin
*.elf
*.lst
*.map
*.sct
*.dep
*.tra
*.bak
*.dep
*.d
*.i
*.s
*.a
*.lib
*.obj
*.out
*.uvoptx
*.uvprojx
*.uvmpw
*.uvguix.username
.gitignore